
/* BOX SIZING */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
/* ----------- */

/*  CONFIGURACION REM */
html{
    font-size: 62.5%;

    scroll-snap-type: y mandatory;
}

body{

    font-size: 16px;
}

/* ----------- */


:root {
  --color-01: #6C4BB6;
  --color-02: #8E72E1;
  --color-03: #D6CCFF;
  --color-04: #FBFAFF;
  --color-05: #8E9EFE;
  --color-06: #F3FEFF;
  --color-07: #C0FBFF;
  --color-08: #00B5DD;
  --red-01: #B93537;
  --red-02: #FF9595;
  --green-01: #4CAF50;
  --green-02: #95FFD1;
  --sombra: #8e9ffe5d 0px 5px 5px; 
}

/* Nav bar */

.nav-bar {
  color: var(--color-01);
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-03);
  padding: 0 1rem;
}

.nav-container {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0rem 1rem;

}

.logo{
  margin: 0;
  padding: 1rem;
  text-shadow: var(--sombra);
}


.nav-option {
  color: var(--color-01);

  text-shadow: var(--sombra);

  margin: 0;
  padding: 1rem;
}

.log-button {
  color: var(--color-03);
  background-color: var(--color-02);
  border: none;
}

.icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0rem 2rem;
}

.nav-icon {
 
  width: 4rem;
  color: var(--color-01) ;
}
/* ----------- */

